@import "../../../shared/styles/variables.scss";

.item-container a {
    cursor: pointer;
    color: $heading-dark-grey;
    text-decoration: none;
    padding: 0.6rem 0;
}
::ng-deep .item-container a:before {
    content: "✓";
    color: transparent;
    flex-shrink: 0;
    font-size: 1rem;
    font-weight: 700;
    width: 1.3rem;
    height: 1.35rem;
    border-radius: 0.2rem;
    border: 1px solid var(--cx-color-light);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-inline-end: 0.5rem;
}
::ng-deep .item-container .selected:before {
    background-color: #fff;
    border-color: $grey-color;
    color: $grey-color;
}
.filters-container{
    padding: 4% 0;
}
.custom-control-label {
    cursor: pointer;
}
::ng-deep .modal-head {
    h4 {
        font-size: 18px;
        width: 220px;
    }
    .closeIcon {
        position: absolute;
        right: 26px !important;
        top: 9px !important;
        height: 5px !important;
        width: 5px !important;
        cursor: pointer;
    }
    .closeIcon img {
        width: 1rem;
    }
}
.custom-control-input:checked ~ .custom-control-label::before {
    background-color: #545859;
    box-shadow: none;
    outline: none;
}
.custom-control-input:checked ~ .custom-control-label.gray::before {
    background-color: #fff;
    outline: none;
    box-shadow: none;
}
.custom-control-input:checked ~ .custom-control-label::before {
    color: #fff;
    border-color: #545859;
    box-shadow: none;
}
.custom-radio .custom-control-input:checked ~ .custom-control-label::after {
    background-color: #545859 !important;
    border-radius: 50%;
    outline: none;
    box-shadow: none;
}
@media screen and (max-width: $mobileScreenPotrait) { 

    .filters-container{
        padding: 4%;
    }
}