@spartacus:registry=https://73554900100900004337.npmsrv.base.repositories.cloud.sap/
//73554900100900004337.npmsrv.base.repositories.cloud.sap/:_auth=<MDAwMTM4NTg5NC12YXJhdGhhOm9Ib3JWSmh2a3dIR1VKYWhGaElkUUphb3VVZ3lkeERL=>
always-auth=true
