<ng-container>
  <div infiniteScroll [infiniteScrollDistance]="5" [infiniteScrollThrottle]="50"
    [infiniteScrollDisabled]="isMaxProducts || isLastPage || isEmpty"
    (scrolled)="scrollPage(model?.pagination?.currentPage + 1)">
    <div class="row">
      <app-product-item-grid *ngFor="let product of model?.products"
        [ngClass]="showFilterSection ? 'prodDiv-w-3-col' : 'prodDiv-w-4-col'" [model]="model" [product]="product"
        [showFilterSection]="showFilterSection" [isMobile]="true"></app-product-item-grid>
    </div>
    <div [className]="
          !isLastPage && model?.pagination?.currentPage > 0
            ? 'cx-double-btn-container grid-btn-padding'
            : 'cx-single-btn-container grid-btn-padding'
        ">
      <div *ngIf="
            (isMaxProducts || isLastPage) && model?.pagination?.currentPage > 0
          " (click)="scrollToTop()" class="btn btn-block btn-action">test2
        {{ 'productList.backToTopBtn' | cxTranslate }}
      </div>
      <div *ngIf="isMaxProducts && !isLastPage" (click)="loadNextPage(model?.pagination?.currentPage + 1)"
        class="btn btn-block btn-action align-btn">
        {{ 'productList.showMoreBtn' | cxTranslate }}
      </div>
    </div>
    <div *ngIf="appendProducts" class="cx-spinner">
      <cx-spinner></cx-spinner>
    </div>
  </div>
</ng-container>