.list-view-header span {
    width: 29%;
    display: inline-flex;
    font-size: 0.8rem;
}
.checkbox-container {
    max-width: 9%;
}
.list-view-header .statement-for , .list-view-header .statement-balance {
    width: 35%;
}