@import "../../shared/styles/variables.scss";

::ng-deep .cx-product-image img {
    max-width: 190px;
}

.form-wrapper {
    margin: 0 auto;
    .changeMinusToPlus {
        content: "\f067";
    }
    cx-product-grid-item .cx-product-image {
        margin: 0;
    }
    cx-product-grid-item .cx-product-name {
        height: auto;
        color: $grey-color;
    }

    .main-heading {
        a {
            color: $grey-color !important;
            text-decoration: underline;
            font-size: 1rem;
            &:hover {
                color: $grey-color;
            }
            &:visited {
                color: $grey-color;
            }
        }
        .invert {
            transform: rotate(180deg);
            margin-left: 5px;
        }
    }
    .productHeading {
        font-size: 1.5rem;
        color: $grey-color;
    }

    ::ng-deep .productDiv {
        box-shadow: 4px 4px 5px #0000004d;
        border: 1px solid #d8d8d8;
        border-radius: 4px;
        opacity: 1;
        height: auto;
        max-width: 37rem;
        width: 100%;
        > p {
            margin-bottom: 0px;
            color: $grey-color;
            font-size: 0.9rem;
            font-weight: 500;
            margin-left: 10px;
            margin-right: 10px;
        }
        h3 {
            font-size: 1rem;
            font-weight: 600;
            color: $grey-color;
        }
        label {
            color: $grey-color;
            font-size: 1rem;
        }
        .btn {
            background: #545859 0% 0% no-repeat padding-box;
            border-radius: 4px;
            opacity: 1;
            font-size: 0.875rem;
            border-color: #545859;
            max-width: 9.3rem;
            @media screen and (max-width: $screenMedium-1200) {
                max-width: 61% !important;
                margin-right: 0;
            }
            margin-right: 1rem;
        }
        .col-lg-6 {
            > p {
                margin-bottom: 0px;
                color: $grey-color;
                font-size: 1rem;
            }
        }
        .quantityCol {
            margin-top: 2.5rem;
        }
    }

    .form-check input + .form-check-label {
        font-size: 1rem;
    }
    .form-check input[type="radio"]:checked::after {
        background: $grey-color;
    }
    input[type="radio"]:checked {
        border-color: $box-shadow-grey !important;
    }
    .form-check input[type="checkbox"]:checked {
        background-color: white;
        border-width: 2px;
        border-color: $box-shadow-grey;
        &::after {
            border-color: $grey-color;
        }
    }

    ul.thermalInsulationList {
        list-style-type: none;
    }
    .btn-sm {
        border-color: lightgrey;
        border-radius: 0px;
        background: white;
    }
    .decreamentButton,
    .increamentButton {
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
        border-left: none;
        min-width: 30px;
        border-left: 1px solid lightgrey;
    }
    .ml-08 {
        margin-left: 0.8rem;
    }
}
h2,
h3,
h5,
h4,
p {
    color: $grey-color;
}

.mobileViewTemplate {
    width: 25%;
    margin-right: 15px;
}
::ng-deep .quantity .info {
    display: none;
}
::ng-deep .quantity label {
    display: inline;
    padding-right: 1rem;
    font-weight: normal;
}

::ng-deep cx-add-to-cart form {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
::ng-deep app-product-help-popup {
    position: absolute;
    right: 2rem;
    top: 3rem;
    z-index: 9;
}

.pointer {
    cursor: pointer;
}
.w-3-col {
    width: 83.33%;
}
.w-4-col {
    width: 100%;
}
.prodDiv-w-3-col {
    max-width: 30% !important;
    margin-left: 3rem !important;
    width: 29.3%;
}
.prodDiv-w-4-col {
    max-width: 22% !important;
    width: 22%;
    margin-left: 3rem !important;
}
.prodDiv-w-4-col:nth-child(4n + 1) {
    margin-left: 0 !important;
}
app-productfacets {
    width: 16%;
}
.productPerPage {
    max-width: 3.7rem;
    position: relative;
    left: 34px;
    option {
        font-size: 0.9rem;
    }
}

.form-control.productPerPage {
    padding: 0.6875rem 0.1rem !important;
}

.productPerPageText {
    position: relative;
    left: 31px;
}

.productPage {
    .cx-sorting {
        display: flex;
        justify-content: flex-end;
        width: 100%;
        .cx-sort-dropdown {
            width: 12rem;
            position: absolute;
            top: -2.9rem;
            right: 11rem;
            @media not all and (min-resolution:.001dpcm){ @supports (-webkit-appearance:none) { 
                top: -2.2rem;
                right: 9rem; 
            }}
        }
    }
}

@media screen and (min-width: $Largescreen-1700) {
    .prodDiv-w-3-col {
        width: 21.3%;
    }
}

@media screen and (max-width: $mobileScreenPotrait) {
    app-product-help-popup {
        top: 3rem;
        right: 1rem;
    }
    .mobileViewTemplate {
        width: 100%;
    }
    .qtylabel {
        text-align: center;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    .quantityCol {
        text-align: center;
        margin-top: 2.5rem;
        margin-left: -4rem;
        margin-bottom: 2.5rem;
    }
    .productDiv {
        margin-top: 0;
        min-width: 97%;
    }
    ::ng-deep .form-wrapper .productDiv .btn {
        margin-right: 1rem !important;
    }
    ::ng-deep .productDiv:first-of-type {
        margin-top: 3rem;
    }
    .product-heading {
        text-align: center;
        font-size: 0.94rem;
    }
    .w-3-col {
        width: 100% !important;
    }
    .prodDiv-w-3-col {
        max-width: 100% !important;
        margin: 0 auto !important;
    }

    .mobile-header h5 {
        color: $grey-color;
        font-weight: bold;
        position: absolute;
        right: 1rem;
        top: 0rem;
    }
    .prodDiv-w-3-col {
        width: 85%;
    }
    .prodDiv-w-4-col {
        width: 85%;
    }
    .productPage .cx-sorting .cx-sort-dropdown {
        width: 10rem;
        position: absolute;
        top: -0.5rem;
        right: 12rem;
        font-size: 0.9rem;
    }
    app-productfacets {
        width: 98%;
    }
    .noResultText {
        margin-top: 7rem !important;
    }
    ::ng-deep .form-wrapper .productDiv label {
        color: #545859;
        font-size: 0.94rem !important;
    }
}
::ng-deep .ProductLeftRefinements {
    display: none;
}
::ng-deep .ProductGridSlot {
    width: 100%;
    max-width: 100% !important;
}
