<div class="menuContainer" id="sideMenu">
    <div class="">
        <ul class="mt-3">
            <li><a routerLink="/my-dashboard" (click)="closePopup()">My Dashboard</a></li>
            <li><a routerLink="/my-orders-deliveries" (click)="closePopup()">My Orders & Deliveries</a></li>
            <li><a routerLink="/my-quotes" (click)="closePopup()">My Quotes</a></li>
            <li><a routerLink="/my-products" (click)="closePopup()">My Products</a></li>
            <li><a routerLink="/my-accounts" (click)="closePopup()">My Account</a></li>
            <li><a routerLink="/my-team" (click)="closePopup()">My Team</a></li>
            <li><a routerLink="/why-fi" (click)="closePopup()">Why FI?</a></li>
        </ul>
    </div>
</div>