<button class="popup-open-btn mb-0 float-lg-right float-md-right float-sm-left text-left-mobile" 
  (click)="onPopupOpenClick()"
  [disabled]="!isShow">
  {{generateBtnName(data?.docDescription)}}
</button>

<ng-template #disputeServiceModal let-modal>
  <div class=" modal-header modal-head container row mt-4">
    <div class="col-lg-8 col-xs-12 col-sm-12 titleBottomStyle">
      <h3 *ngIf='responseOpen'>{{generateInvoiceHeaderName(data?.docDescription)}}</h3>
      <h3 *ngIf='!responseOpen'>{{popupThankYouMessage.textThankHeading}}</h3>
    </div>

    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 text-right requiredDiv" *ngIf='responseOpen'>
      <label>Required *</label>
    </div>
    <span class="closeIcon-popup"><img src="assets/images/closegrey.svg" (click)="resetAndCloseForm()"
        alt="Menu Icon" /></span>
  </div>

  <div class="modal-body ">
    <ng-container *ngIf='responseOpen'>
      <form (ngSubmit)="submit($event)" [formGroup]="disputeForm">
        <div class="row">
          <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12  email" tabindex="1">
            <div class="form-group searchformfld">
              <input type="text" id="email" class="form-control" placeholder=" " (change)="emailInputVal()"
                [ngClass]="{ error: emailCheck }" formControlName="email">
              <label for="email">E-Mail *</label>
              <span *ngIf="emailCheck" class="help-block text-danger">Required</span>
              <span *ngIf="
                  !disputeForm.get('email').errors?.required &&
                  !disputeForm.get('email').valid &&
                  disputeForm.get('email').touched "
                class="help-block text-danger font-smaller">{{createAccountFormConstants.emailValidationMessage}}<i
                  class="fa fa-exclamation-triangle fa_custom"></i></span>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mt-4">
            <div class="form-group searchformfld">
              <input type="text" class="form-control" id="name" placeholder=" " (change)="nameInputVal()"
                [ngClass]="{ error: nameCheck }" formControlName="name">
              <label for="name">Name *</label>
              <span *ngIf="nameCheck" class="help-block text-danger">Required</span>
              <span *ngIf="
                  !disputeForm.get('name').errors?.required &&
                  !disputeForm.get('name').valid &&
                  disputeForm.get('name').touched " class="help-block text-danger font-smaller">Sorry, Name is
                Invalid<i class="fa fa-exclamation-triangle fa_custom"></i></span>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 mt-4 form-group searchformfld">
            <input type="text" class="form-control" id="phoneNumber" placeholder=" " formControlName="phoneNumber"
            (keypress)="validateChar($event);" onpaste="return false;" maxlength="16"
              [ngClass]="{ error: validatePhoneNum() }">
            <label for="phoneNumber">Phone</label>
            <span *ngIf="
                  !disputeForm.get('phoneNumber').valid &&
                  disputeForm.get('phoneNumber').touched " class="help-block text-danger font-smaller">Invalid phone number. Min. 6 digits. Special characters allowed are “+, -, (, )”<i class="fa fa-exclamation-triangle fa_custom"></i></span>
          </div>

          <div class="mt-4 col-lg-6 col-md-6 col-sm-6 col-xs-12 form-group searchformfld">
            <input type="text" class="form-control" id="accountNumber" placeholder=" "
              (change)="accountNumberCheckInputVal()" [ngClass]="{ error: accountNumberCheck }"
              formControlName="accountNumber" disabled>
            <label for="accountNumber">Account No *</label>
            <span *ngIf="accountNumberCheck" class="help-block text-danger">Required</span>
          </div>

        </div>

        <div class="row">
          <div class="mt-4 col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group searchformfld">
            <input type="text" class="form-control" id="companyName" placeholder=" " formControlName="companyName"
              (change)="companyNameInputVal()" [ngClass]="{ error: companyNameCheck }" disabled>
            <label for="companyName">Company Name *</label>
            <span *ngIf="companyNameCheck" class="help-block text-danger">Required</span>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 mt-4">
            <div class="form-group searchformfld">
              <input type="text" id="invoiceNumber" class="form-control" placeholder=" " (change)="invoiceInputVal()"
                [ngClass]="{ error: invoiceCheck }" formControlName="invoiceNumber" disabled>
              <label for="invoiceNumber">{{generateFormTerm(data?.docDescription)}} No *</label>
              <span *ngIf="invoiceCheck" class="help-block text-danger">Required</span>
              <span *ngIf="
                  !disputeForm.get('invoiceNumber').errors?.required &&
                  !disputeForm.get('invoiceNumber').valid &&
                  disputeForm.get('invoiceNumber').touched "
                class="help-block text-danger font-smaller">{{createAccountFormConstants.invoiceNumberRequired}}<i
                  class="fa fa-exclamation-triangle fa_custom"></i></span>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 mt-4 text-left">
            <label for="reasonOfDispute">Please select the reason for your dispute*</label>
            <select class="form-control" formControlName="reasonOfDispute" (change)="dropDownCheckSelectVal()"
              [ngClass]="{ error: dropDownCheck }">
              <option [value]="'Unable to find product'" >{{DisputeInvoiceConstants.productNotDSelivered}}</option>
              <option>{{DisputeInvoiceConstants.productQuantityIncorrect}}</option>
              <option>{{DisputeInvoiceConstants.pricingIncorrect}}</option>
              <option>{{DisputeInvoiceConstants.notMyOrder}}</option>
              <option>{{DisputeInvoiceConstants.other}}</option>
            </select>
            <span *ngIf="dropDownCheck" class="help-block text-danger">Please Select</span>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mt-4 text-left">
            <label for="additionalInfo" class="queryDescription">Please provide more information on your selected
              option.</label>
            <textarea class="form-control" id="" rows="5" formControlName="additionalInfo"></textarea>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6 col-sm-12 col-xs-12 d-flex justify-content-start mt-4 mb-4 buttonContainer">
            <button type="submit" class="btn btn-block font-weight-bold text-white submitBtn"
              [ngClass]="{ disabled: formValidationCheck() }">Send</button>
          </div>
        </div>

      </form>
    </ng-container>
    <ng-container *ngIf='!responseOpen'>
      <app-fi-confirmation-popup [isSuccess]="responseSuccess">
      </app-fi-confirmation-popup>
    </ng-container>
  </div>
</ng-template>